<%= form_for(request) do |f| %>
  <% if request.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(request.errors.count, "error") %> prohibited this request from being saved:</h2>

      <ul>
      <% request.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  


<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@request) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>

      <%= f.label :library %>
      <%= f.text_field :library, class: 'form-control' %>

      <%= f.label :email %>
      <%= f.email_field :email, class: 'form-control' %>

      <%= f.label :address %>
      <%= f.text_field :address, class: 'form-control' %>

      <%= f.label :librarian, "Contact Name" %>
      <%= f.text_field :librarian, class: 'form-control' %>

      <%= f.label :phone, "Contact Phone Number" %>
      <%= f.phone_field :phone, class: 'form-control' %>

      <%= f.label :program %>
      <%= f.select :program, ['LumpaWorld Engineering Challenge', 'Slow-Roll Marble Challenge', 'Jigglebots and Doodlebots',
      'The Basics of Climate Change'], class: 'form-control' %>
      
      <%= f.label :date, " Requested Program Date" %>
      <%= f.date_field :date, class: 'form-control' %>
      
      <%= f.label :time, "Requested Program Time" %>
      <%= f.time_field :time, class: 'form-control' %>

      <%= f.submit "Create Request", class: "btn btn-primary" %>
    <% end %>


<% end %>
