<p id="notice"><%= notice %></p>

<div class="page-header">
  <br>

<%= link_to 'Make a New Request', new_request_path, class: "btn btn-lg btn-primary"%>
<h1>Library Program Requests</h1>


 <div class="col-md-6">
 <table class="table table-striped">
  <thead>
    <tr>
      <th>Library</th>
      <th>Program</th>
      <th>Date</th>
      <th>Time</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @requests.each do |request| %>
      <tr>
        <td><%= request.library %></td>
        <td><%= request.program %></td>
        <td><%= request.date %></td>
        <td><%= request.time %></td>
        <td><%= if request.created_at > 5.minutes.ago  then link_to 'Show', request end %></td>
        <td><%= if request.created_at > 5.minutes.ago then link_to 'Edit', edit_request_path(request) end %></td>
        <td><%= if request.created_at > 5.minutes.ago then link_to 'Destroy', request, method: :delete, data: { confirm: 'Are you sure?' }end %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Request', new_request_path%>


