<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "Mr. Johnson's Library Programs", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Home", root_path %></li>
        <li><%= link_to "Contact", contact_path %></li>
        <li><%= link_to "Programs", programs_path %></li>
        <li><%= link_to "Request Program", requests_path %></li>
  
          
      </ul>
    </nav>
  </div>
</header>